<html>
<head>
    <title>Схема метрополитена</title>
    <link rel="stylesheet" href="//dvhb.github.io/themes/main.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/atom-one-dark.min.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script type="text/javascript" src="dvhb_metro.js"></script>

    <style>
        .mapPopover{
            background: #fff;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
            font-size: 13px;
            padding: 10px 15px;
            line-height: normal;
        }
        .mapPopover__title{
            font-size: 17px;
        }
        .mapPopover__item{
            margin-bottom: 10px;
        }
        .mapPopover__item:last-child{
            margin-bottom: 0;
        }

        .mapZoom{
            position: absolute;
            left: 20px;
            top: 20px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
        }

        .mapZoom__btn{
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: relative;
        }

        .mapZoom__btn:before,
        .mapZoom__btn:after{
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: #00A0E0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .mapZoom__btn:after{
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .mapZoom__btn_minus:after{
            content: none;
        }

        .mapZoom__btn + .mapZoom__btn{
            border-top: 3px solid #dadada;
        }

        .map {
            position: relative;
        }

        subway-station-selector div {
            cursor: pointer;
        }

        subway-station-selector div.disabled {
            color: gray;
            cursor: initial;
        }
    </style>
</head>

<body ng-app="App" ng-controller="MainCtrl">
<div class="b-intro b-content textLg"
     style="background-image: url('//rawgit.com/dvhb/themes/1.1.0/dist/img/bg_intro_subway.jpg');">

    <a href="https://github.com/dvhb/metro" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
             alt="Fork me on GitHub"
             data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
    </a>

    <div class="section">
        <h1>Схема метрополитена</h1>
        <p>
            dvhbMetro — библиотека для отображения схемы метрополитена.
            Позволяет выбирать станции на карте и отображать информацию о них.
        </p>
        <p>
            Github:
            <a href="https://github.com/dvhb/metro" target="_blank">
                dvhb/metro
            </a>
        </p>

        <h2>Сделано с помощью</h2>
        <div>
            <a href="https://angularjs.org/" target="_blank">AngularJS</a>
        </div>
    </div>
</div>

<div class="b-content textLg">
    <div class="section">
        <h2>Зависимости</h2>
        <p>AngularJS >= 1.3, jQuery</p>

        <h2>Установка</h2>
        <p class="textGreen">
            npm i @dvhb/metro --save
        </p>
    </div>
</div>

<div class="b-usage b-content">
    <div class="section">
        <h2>Использование</h2>
        <pre>

<script type="text/template" id="ex1"><metro
    stations="stations" on-select="showInfo" map-url="./metro-moscow.svg">
    <div metro-info offset="{top: 20}">
        <b>{{"{{station.name}\}"}}</b>
        <i>{{"{{station.info}\}"}}</i>
    </div>
</metro></script>
            <code class="html" id="code1"></code>
        </pre>
        <pre>
            <code class="javascript">angular
    .module('App', ['dvhbMetro'])
    .controller('MainCtrl', function ($scope) {
        $scope.stations = {
            "Курская (Кольцевая)": "ТЦ «Атриум», 3 эт., с 9:00 до 21:00",
            "Фили": "ТЦ «Филёвский», 1 эт., с 10:00 до 21:00",
            "Войковская": "ТЦ «Войковский», 2 эт., с 8:00 до 22:00",
            "Спартак": "ТЦ «Колизей», 1 эт., с 8:00 до 22:00"
        };

        $scope.station = {};

        $scope.showInfo = function (names, position) {
            $scope.station = {
                name: names[0],
                info: $scope.stations[names[0]]
            };
        }
    })</code>
        </pre>
    </div>
</div>
<div class="b-demo b-content textLg">
    <div class="section">
        <h2>Демо</h2>
        <div class="form-item">
            <div class="b-tabs">
                <div class="row b-tabs__btns">
                    <div class="col-sm-6">
                        <div class="form-item">
                            <div class="b-tabs__btn"
                                 ng-class="{_active:toggleMap=='moscow'}"
                                 ng-click="toggleMap='moscow'"
                            >
                                Схема метро Москвы
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-item">
                            <div class="b-tabs__btn"
                                 ng-class="{_active:toggleMap=='spb'}"
                                 ng-click="toggleMap='spb'"
                            >
                                Схема метро Санкт-Петербурга
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_wide">
        <div class="form-group">
            <div class="b-tabs" ng-if="toggleMap=='moscow'">

                <div class="map" metro stations="stations.moscow" on-select="showInfoMoscow" map-url="./metro-moscow.svg">

                    <div metro-info offset="{top: 20}" class="mapPopover">
                        <div class="mapPopover__title mapPopover__item">{{station.name}}</div>

                        <div class="mapPopover__item" ng-repeat="point in station.info">
                            <b>{{point.name}}</b>
                            <div ng-if="point.info">{{point.info}}</div>
                            <div ng-if="point.tel">Телефон: {{point.tel}}</div>
                        </div>
                    </div>

                    <!-- <div class="mapZoom"><div class="mapZoom__btn mapZoom__btn_plus"></div><div class="mapZoom__btn mapZoom__btn_minus"></div></div> -->

                </div>
            </div>
            <div class="b-tabs" ng-if="toggleMap=='spb'">

                <div class="map" metro stations="stations.spb" on-select="showInfoSpb" map-url="./metro-spb.svg">

                    <div metro-info offset="{top: 20}" class="mapPopover">
                        <div class="mapPopover__title mapPopover__item">{{station.name}}</div>

                        <div class="mapPopover__item" ng-repeat="point in station.info">
                            <b>{{point.name}}</b>
                            <div ng-if="point.info">{{point.info}}</div>
                            <div ng-if="point.tel">Телефон: {{point.tel}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-item">
                        <a href="https://github.com/dvhb/dvhb-metro/archive/master.zip" class="btn btn_block" target="_blank">
                            Скачать
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-item">
                        <a href="https://github.com/dvhb/dvhb-metro" class="btn btn_block" target="_blank">
                            Исходник на GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <h2>Документация</h2>
        <p>
            <a href="https://github.com/dvhb/dvhb-metro/blob/master/README.MD" target="_blank">
                https://github.com/dvhb/dvhb-metro/blob/master/README.MD
            </a>
        </p>

        <h2>Change log</h2>

        <div class="form-group form-group_marginSm">
            <div class="textLg">Версия 0.4.8</div>
            <p class="textGrey">5 мая, 2017</p>
            <div class="list">
                <div class="list__item">
                    Добавлена схема Санкт-Петербургского метрополитена.
                </div>
                <div class="list__item">
                    Уменьшение размера svg-файлов.
                </div>
            </div>

            <div class="textLg">Версия 0.4.6</div>
            <p class="textGrey">6 апреля, 2017</p>
            <div class="list">
                <div class="list__item">
                    Обновлена схема Московского метрополитена.<br>
                    Добавлены станции метро "Минская", "Ломоносовский проспект", "Раменки" (Солнцевская линия)
                </div>
            </div>

            <div class="textLg">Версия 0.4.5</div>
            <p class="textGrey">6 апреля, 2017</p>
            <div class="list">
                <div class="list__item">
                    Новый шаблон проекта
                </div>
                <div class="list__item">
                    Изменение структуры svg-карты для возможности использования любой карты метрополитена
                </div>
            </div>

            <div class="textLg">Версия 0.4.2</div>
            <p class="textGrey">8 февраля, 2017</p>
            <div class="list">
                <div class="list__item">
                    Добавлена новая линия Московского метрополитена – "Московское центральное кольцо"
                </div>
                <div class="list__item">
                    Изменение структуры svg-карты для возможности использования любой карты метрополитена
                </div>
            </div>
        </div>

        <h2>Лицензия</h2>
        <p>
            Данная библиотека распространяется по лицензии MIT © <a href="https://dvhb.ru/" target="_blank">dvhb</a>
        </p>
        <p>
            Дизайн карты метро © Студия Артемия Лебедева
        </p>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/atom-one-dark.min.css"/>

<script>
    angular
        .module('App', ['dvhbMetro'])
        .controller('MainCtrl', MainCtrl);

    function MainCtrl($scope) {

        $scope.toggleMap = 'moscow';

        $scope.pos = {};

        $scope.stationInfo = {};

        $scope.stations = {
            moscow: {
                "Курская (Кольцевая линия)": [
                    {name: "ТЦ «Атриум»", info: "1-ый этаж", tel: "+7 123 456 78"},
                    {name: "ТЦ «Атриум»", info: "2-ой этаж", tel: "+7 123 456 78"}
                ],
                "Фили": [
                    {name: "ТЦ «Филион»", info: "2-ой этаж", tel: "+7 123 456 78"}
                ],
                "Войковская": [
                    {name: "ТЦ «Атриум»", info: "1-ый этаж", tel: "+7 123 456 78"}
                ],
                "Спартак": [
                    {name: "ТЦ «Колизей»", info: "3-ий этаж", tel: "+7 123 456 78"}
                ],
                "Выставочная": [
                    {name: "ТЦ «Филион»", info: "2-ой этаж", tel: "+7 123 456 78"}
                ],
                "Деловой центр": [
                    {name: "ТЦ Пирамида", info: "1-ый этаж", tel: "+7 123 456 78"}
                ]
            },
            spb: {
                "Парнас": [
                    {name: "Север-Метрополь, сеть кафе-кондитерских", info: "ул. Фёдора Абрамова, 4", tel: "+7‒953‒347‒21‒47"}
                ],
                "Петроградская": [
                    {name: "Евразия, сеть суши-баров", info: "Большой проспект П.С., 98", tel: "+7 (812) 244‒47‒15"}
                ],
                "Проспект Просвещения": [
                    {name: "Nord", info: "Просвещения проспект, 19 лит А", tel: "+7 (812) 331‒63‒00"}
                ],
                "Невский проспект": [
                    {name: "Север-Метрополь", info: "сеть кафе-кондитерских", tel: "+7 (812) 312‒89‒15"}
                ],
                "Сенная площадь": [
                    {name: "Север-Метрополь, сеть кафе-кондитерских", info: "Сенная площадь, 4 ", tel: "+7 (812) 310‒24‒40"}
                ],
                "Технологический институт-1": [
                    {name: "Омега+, ООО", info: "Бронницкая, 5"}
                ],
                "Технологический институт-2": [
                    {name: "Санкт-Петербургский государственный технологический институт", info: "Пионерстроя, 14 к3"}
                ],
                "Проспект Ветеранов": [
                    {name: "METRO", info: "Ветеранов проспект, 21", tel: "+7 (812) 407‒28‒12"}
                ],
                "Крестовский остров": [
                    {name: "Крестовский остров, эколого-биологический центр", info: "Крестовский проспект, 19", tel: "+7 (812) 237‒07‒38"}
                ],
                "Площадь Александра Невского-1": [
                    {name: "Первый БИТ. Строительство", info: "Александра Невского площадь, 2 лит Е", tel: "+7 (812) 677‒01‒77"}
                ],
                "Площадь Александра Невского-2": [
                    {name: "Блэкрец плаза, бизнес-центр", info: "Чернорецкий переулок, 5", tel: "+7 (812) 242‒71‒74"}
                ]

            }
        };

        $scope.showInfoMoscow = function (names) {
            $scope.station = {
                name: names[0],
                info: $scope.stations.moscow[names[0]]
            };
        };

        $scope.showInfoSpb = function (names) {
            $scope.station = {
                name: names[0],
                info: $scope.stations.spb[names[0]]
            };
        };

    }

    $("#code1").text($("#ex1").text());
    hljs.initHighlightingOnLoad();

</script>

</body>
</html>